body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #eee;
  text-align: center;
  background: linear-gradient(to bottom, #222, #444); /* more 'sexy' background */
}


header, footer {
  background-color: #161515;
  padding: 1em;
}


nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}


nav li {
  margin-right: 1em;
}


main {
  padding: 2em; /* more aerated page */
}



.card {
  background-color: #333;
  border: 1px solid #444;
  padding: 1em;
  margin: 1em;
  border-radius: 20px; /* more rounded corners */
  transition: transform 0.2s;
  display: inline-block;
  text-align: center;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  display: inline-block; /* ensure cards line up nicely */
  margin: 1em;
}
.card:hover {
  transform: scale(1.05);
}
.card button {
  background-color: #0f0;
  color: #000;
  border: none;
  padding: 0.5em;
  cursor: pointer;
}



.social-icon {
  width: 24px;
  height: 24px;
  margin: 0.5em;
  transition: transform 0.2s;
  cursor: pointer;
  font-size: 2em; /* bigger icons */
  text-decoration: none;
}
.social-icon:hover {
  transform: scale(1.2);
  color: #0f0;
}
